extends layer  

block content 
    main 
        div(class="product-list")
            h1 products 
            p list of all products  
                ul
                    each product in products 
                        li #{product.title}