doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title products list
    body 
        main 
            h1 products 
            p list of all products  
                ul 
                    each product in products 
                        li #{product}