:root {
    background-color: #1a1a1a;
}
nav.menu ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    background-color: #2a2a2a;
    padding: 0px 0px;
}
nav.menu ul li {
    width: 150PX;
    background-color: #1a1a1a;
    font-size: 18px;
    padding: 20px;
}
nav.menu ul li a {
    color: #fff; 
    text-decoration: none;
}
input[type="text"]{
    width: 500px;
    height: 70px;
    color: #fff;
    background-color: #1a1a1a;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 20px;
    border: none;
}
button[type="submit"]{
    position: absolute;
    left: 50%;
    top: 60%;
    width: 300px;
    border-radius: 20px;
    color: #fff;
    background-color: transparent;
    padding: 5px;
    border: solid 1px #fff;
    transform: translateX(-50%) translateY(-50%);
}

.product-list { 
    position : absolute ; 
    top : 50% ; 
    left : 50% ; 
    transform : translateX(-50%) translateY(-50%) ; 
    color : #fff;
}